/* Common for all Pages */

head {
    font-family: Arial, Helvetica, sans-serif;
}

.headers {
    background-color: #004080;
    padding: 20px;
    margin: 0;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65%;
    align-items: center;
}

.headers h1 {
    color: white;
    margin-left: auto;  
}

.headers img {
    margin-right: auto;
    height: 70px;
    width: 70px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 200px;
    background-color: #003366;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar table{
    border-spacing: 200px 3px;
    margin-right: auto;
    margin-left: auto;
}

footer {
    background-color: #004080;
    color: white;
    padding: 10px;
    font-size: 13px;
    text-align: center;
}

/* About LMS Homepage */

.about { 
    margin: 20px; /*says to add margin of 20 but does not match image */
    background-color: lightgray;
    text-align: center;
    padding: 20px;
    font-size: 15px;
}

.about h2 {
    color: #004080;
    font-size: 18px;
}

.features {
    font-weight: bold;
}

/* Login Page */

.login h2 {
    text-align: center;
    font-size: 20px;
    color:#004080;
}

.loginfields {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 30px;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 30px;
    box-shadow: 5px 10px 18px #888888;
}

.loginfields form {
    text-align: center;
}

.loginfields form input {
    background-color: lightyellow;
    border: darkgrey 3px;
    border-radius: 5px;
    padding: 10px;
}

.loginbutton{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.loginbutton a button {
    background-color: #008000;
    color:white;
    border: darkgrey 3px;
    padding: 8px;
    border-radius: 5px;
}

.loginbutton a button:hover {
    background-color: #006600;
}

.forgotpassword a {
    display: flex;
    justify-content: center;
    color: #004080;
    text-decoration: none;
}

.forgotpassword a:hover {
    color: #004080;
    text-decoration: underline;
}

/* Courses Page */

.term {
    display: flex;
    justify-content: center;
}

.courses h2 {
    text-align: center;
    font-size: 15px;
    color:#004080;
}

.term label {
    display: flex;
    font-size: 15px;
    align-items: center;
    margin-right: 5px;
}

.term select {
    background-color: lightyellow;
    border-radius: 5px;
    padding: 5px;
}

.courses table {
    display: flex;
    flex-wrap: wrap;
}

.courses table tr td{
    background-color: #e6f2ff;
    padding: 20px;
    margin: 15px;
    width: 33%; /* 3 cells per row */
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 5px 5px 10px #888888;
}

.courses table tr td p{
    display: flex;
    justify-content: center;
    font-size: 10px;
}

.courses table tr td a{
    display: flex;
    justify-content: center;
}

.accept{
    background-color: #4CAF50;
    color: white;
    border: darkgrey 3px;
    padding: 7px;
    margin-right: 6px;
    border-radius: 5px;
}

.accept:hover {
    background-color: #265e28;
}

.decline{
    background-color:#D32F2F;
    color: white;
    border: darkgrey 3px;
    padding: 7px;
    border-radius: 5px;
}

.decline:hover {
    background-color: #821b1b;
}

.pending h2 {
    text-align: center;
    font-size: 20px;
    color:#004080;
}

.pending table tr td{
    background-color: #e6f2ff;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
}

.pending table tr td p{
    display: flex;
    justify-content: center;
    font-size: 13px;
}

.pending table tr td a{
    display: flex;
    justify-content: center;
}

.pendingbuttons {
    display: flex;
    justify-content: center;
}

/* Quiz Page */

.banner img{
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.details {
    text-align: center;
    background-color: lightblue;
    padding: 20px;
    margin-left: 250px;
    margin-right: 250px;
}

.details h2 {
    font-style: bold;
    font-size: large;
    color: #004080;
}

.questions {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.question1 {
    background-color: #cacaca;
    padding: 20px;
    width: 20%;
    text-align: left;
}

.question2 {
    background-color: #cacaca;
    padding: 10px;
    width: 20%;
    text-align: left;
}

.questions button {
    background-color: lightblue;
    color: black;
    padding: 7px;
    border: darkgrey 3px;
    border-radius: 5px;
    margin-top: 10px;
}

.questions button:hover {
    background-color: darkblue;
    color: white;
}

.finishbutton {
    display: flex;
    justify-content: center;
}

.finishbutton button {
    background-color: #D32F2F;
    border: darkgrey 3px;
    border-radius: 5px;
    color: white;
    padding: 7px;

}

.finishbutton button:hover {
    background-color: #821b1b;
    display:flex;
}

/* Leaderboard Page */

.tableheader td{
    background-color: #4CAF50;
    color: white;
    column-span: all;
}

.leaderboard table {
    border-collapse: collapse;
    border: white;
}

.firstplace td {
    background-color: gold;
}

.secondplace td {
    background-color: silver;
}

.thirdplace td {
    background-color: #cd7f32;
}

.fourthplace td {
    background-color: #f9f9f9;
}

.fifthplace td {
    background-color: #e4e2e2;
}

.leaderboard img{
    border: 2px solid black;
    border-radius: 100%;
}